.container-main {
  margin: auto;
  width: 90%;
}
#header_img{	
	width:100%;
	height:100px;
	background-color:rgba(255,255,255,0.3);
	color:#fff;
}
#kds_logo{
	width:10%;
	
	float:left;
}
#rkds_logo {
  float: right;
  margin-top: 15px;
  text-align: right;
  width: 15%;
}
#rkds_logo img{
	width:100%;
	height:100%; 
}
#heading{
	font-size:40px;
	color:#F2F2F2;
	font-weight:bold;
	font-family:arial;
	text-shadow:2px 2px 1px black;
	float:left; 
	width:70%;
	text-align:center;
}
#page_footer1{
	position:absolute;
	left: 0px;
	bottom: 0px;
	width:100%;
	height:30px;
	opacity:0.3;
	//background-color:#0094da;
	background-color:grey;
}
#page_footer1_txt{
	position:absolute;
	left:40%;
	bottom:0px;
	font-weight:bold;
	color:#fff;
}
#page_footer1_txt a:hover{color:#FF9900}