<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" metadata-complete="true" version="2.5">
  <display-name>KODE_DEV19may</display-name>
  <welcome-file-list>
    <welcome-file>/JSP/LoginWebView.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>401</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetSessionForFacultyServlet</display-name>
    <servlet-name>GetSessionForFacultyServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSessionForFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSessionForFacultyServlet</servlet-name>
    <url-pattern>/getSessionForFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>courseDetailsStudent</display-name>
    <servlet-name>courseDetails</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetCourseForDCIStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseDetails</servlet-name>
    <url-pattern>/coursedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetSubjectsServlet</display-name>
    <servlet-name>GetSubjectsServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectsServlet</servlet-name>
    <url-pattern>/getSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetTopicServlet</display-name>
    <servlet-name>GetTopicServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicServlet</servlet-name>
    <url-pattern>/getTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetSubTopicServlet</display-name>
    <servlet-name>GetSubTopicServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSubTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubTopicServlet</servlet-name>
    <url-pattern>/getSubTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentsServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentsServlet</servlet-name>
    <url-pattern>/getStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetSubjectsForFacultyServlet</display-name>
    <servlet-name>GetSubjectsForFacultyServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSubjectsForFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectsForFacultyServlet</servlet-name>
    <url-pattern>/getSubjectsForFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getStudentsForFacultyWithSubjectServlet</display-name>
    <servlet-name>getStudentsForFacultyWithSubjectServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetStudentsForFacultyWithSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudentsForFacultyWithSubjectServlet</servlet-name>
    <url-pattern>/getStudentsForFacultyWithSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getStudentsForFacultyOnCourseServlet</display-name>
    <servlet-name>getStudentsForFacultyOnCourseServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetStudentsForFacultyOnCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudentsForFacultyOnCourseServlet</servlet-name>
    <url-pattern>/getSudentsForFacultyOnCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetsubjectForDCIStudent</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetsubjectForDCIStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetsubjectForDCIStudent</servlet-name>
    <url-pattern>/GCFS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubTopicForStudents</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSubTopicForStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubTopicForStudents</servlet-name>
    <url-pattern>/GSTFS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTopicForStudents</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetTopicForStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicForStudents</servlet-name>
    <url-pattern>/GTFS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAssignmentsForStudents</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetAssignmentsForStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAssignmentsForStudents</servlet-name>
    <url-pattern>/GAFStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getSessionsForCourseServlet</display-name>
    <servlet-name>getSessionsForCourseServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSessionsForCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSessionsForCourseServlet</servlet-name>
    <url-pattern>/getSessionsForCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getSessionsForSubjectServlet</display-name>
    <servlet-name>getSessionsForSubjectServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSessionsForSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSessionsForSubjectServlet</servlet-name>
    <url-pattern>/getSessionsForSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getSessionsForTopicServlet</display-name>
    <servlet-name>getSessionsForTopicServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSessionsForTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSessionsForTopicServlet</servlet-name>
    <url-pattern>/getSessionsForTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getSessionsForSubTopicServlet</display-name>
    <servlet-name>getSessionsForSubTopicServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSessionsForSubTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSessionsForSubTopicServlet</servlet-name>
    <url-pattern>/getSessionsForSubTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetSubjectsInAssignmentForFacultyServlet</display-name>
    <servlet-name>GetSubjectsInAssignmentForFacultyServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSubjectsInAssignmentForFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectsInAssignmentForFacultyServlet</servlet-name>
    <url-pattern>/getSubjectsInAssignmentForFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getAssignmentsForSubjectCourseServlet</display-name>
    <servlet-name>getAssignmentsForSubjectCourseServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetAssignmentsForSubjectCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAssignmentsForSubjectCourseServlet</servlet-name>
    <url-pattern>/getAssignmentsForSubjectCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageUploadService</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.ImageUploadService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadService</servlet-name>
    <url-pattern>/uploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetLibaryForFacultyServlet</display-name>
    <servlet-name>GetLibaryForFacultyServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetLibaryForFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLibaryForFacultyServlet</servlet-name>
    <url-pattern>/getLibarayForFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetTopicForFacultyServlet</display-name>
    <servlet-name>GetTopicForFacultyServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetTopicForFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicForFacultyServlet</servlet-name>
    <url-pattern>/getTopicForFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetSubTopicForFacultyServlet</display-name>
    <servlet-name>GetSubTopicForFacultyServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSubTopicForFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubTopicForFacultyServlet</servlet-name>
    <url-pattern>/getSubTopicForFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProgramServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProgramServlet</servlet-name>
    <url-pattern>/GetProgram</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStreamServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStreamServlet</servlet-name>
    <url-pattern>/GetStreamForAdminTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourseServlet</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseServlet</servlet-name>
    <url-pattern>/GetCourseForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubTopicServletTest</servlet-name>
    <servlet-class>com.kds.KODE_DEV.services.GetSubTopicServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubTopicServletTest</servlet-name>
    <url-pattern>/getSubTopics1</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
</web-app>